<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ data.meta.description }}">

        <title>{{ title }} | retrovizor.xyz</title>

        <link rel="stylesheet" type="text/css" href="{{ getFilePath "index.css" }}">
        {{#if templateStyle}}
        <link rel="stylesheet" type="text/css" href="{{ getFilePath templateStyle }}">
        {{/if}}
        {{#if viewStyle}}
        <link rel="stylesheet" type="text/css" href="{{ getFilePath viewStyle }}">
        {{/if}}
    </head>
    <body>
    {{> @partial-block }}
        <script type="importmap">
            {
                "imports":
                {
                {{#ifBuildType "native"}}
                    {{#each configuration.nativeDependencies}}
                    "{{@key}}": "/{{this}}",
                    {{/each}}
                {{/ifBuildType}}
                {{#each fileMappings.library.scripts }}
                    "{{@key}}": "{{this}}"{{#unless @last}},{{/unless}}
                {{/each}}
                }
            }
        </script>
        <script type="module" src="{{ getFilePath "index.js" }}"></script>
        {{#if templateScript}}
        <script type="module" src="{{ getFilePath templateScript }}"></script>
        {{/if}}
        {{#if viewScript}}
        <script type="module" src="{{ getFilePath viewScript }}"></script>
        {{/if}}
    </body>
</html>
