<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ data.meta.description }}">

        <title>{{ title }} | retrovizor.xyz</title>

        <link rel="stylesheet" type="text/css" href="/{{ getFilePath configuration.internals.indexStyleBuild }}">
        {{#if templateStyle}}
        <link rel="stylesheet" type="text/css" href="/{{ getFilePath templateStyle }}">
        {{/if}}
        {{#if viewStyle}}
        <link rel="stylesheet" type="text/css" href="{{ getFilePath viewStyle }}">
        {{/if}}
    </head>
    <body>
    {{> @partial-block }}
        <script type="importmap">
            {
                "imports":
                {
                    "Library": "/{{ getFilePath configuration.internals.libraryBuild "/index.js" }}",
                {{#each libraryScripts }}
                    "{{@key}}": "{{this}}",
                {{/each}}
                {{#each configuration.dependencies}}
                    "{{@key}}": "/{{this}}"{{#unless @last}},{{/unless}}
                {{/each}}
                }
            }
        </script>
        {{! TODO: set "type" to "module" only if "Configuration.buildType" is "native" }}
        <script type="module" src="/{{ getFilePath configuration.internals.indexScriptBuild }}"></script>
        {{#if templateScript}}
        <script type="module" src="/{{ getFilePath templateScript }}"></script>
        {{/if}}
        {{#if viewScript}}
        <script type="module" src="{{ getFilePath viewScript }}"></script>
        {{/if}}
    </body>
</html>
