<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ data.meta.description }}">

        <title>retrovizor.xyz | {{ title }}</title>

        <link rel="stylesheet" type="text/css" href="/{{ configuration.internals.indexStyleBuild }}">
        {{#if templateStyle}}
        <link rel="stylesheet" type="text/css" href="/{{ templateStyle }}">
        {{/if}}
        {{#if viewStyle}}
        <link rel="stylesheet" type="text/css" href="/{{ viewStyle }}">
        {{/if}}
    </head>
    <body>
    {{> @partial-block }}
        <script type="importmap">
            {
                "imports":
                {
                    "Library": "/{{ configuration.internals.libraryBuild }}/index.js",
                {{#each configuration.dependencies}}
                    "{{@key}}": "/{{this}}"{{#unless @last}},{{/unless}}
                {{/each}}
                }
            }
        </script>
        {{! TODO: set "type" to "module" only if "Configuration.buildType" is "native" }}
        <script type="module" src="/{{ configuration.internals.indexScriptBuild }}"></script>
        {{#if templateScript}}
        <script type="module" src="/{{ templateScript }}"></script>
        {{/if}}
        {{#if viewScript}}
        <script type="module" src="/{{ viewScript }}"></script>
        {{/if}}
    </body>
</html>
